
.footer{
  background-image: url('../../assets/img/foot_background.jpg');
  background-size: cover;
}

.wpcf7-acceptance a{
  color: $footer;
}
.wpcf7-submit.wpcf7-form-control {
  padding: 15px 60px;
  background: $footer;
  font-size: 14px;
}


