{% block html_head_container %}

    {% include 'html-header.twig' %}
    {% block head %}
    {% endblock %}
    </head>
{% endblock %}

<body class="{{ body_class }}">

<section id="content" role="main" class="content-wrapper text-center">
    {% include 'header.twig' %}
    {% include 'partial/widget.twig' %}

</section>

{% block footer %}
    <footer class="footer">
        {% include 'footer.twig' %}
    </footer>
    {{ function('wp_footer') }}
{% endblock %}
</body>
</html>
